<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">Resume Builder</p>
    </div>
  </div>
</nav>

<div class="panel panel-primary">

  <div class="panel-heading">
  <%= form_tag({controller: 'resume', action: 'resume'}, method: 'post') do %>
      <%= label_tag(:link, 'Enter Link:') %>
    </div>
    <div class="panel-body">
      <%= text_field_tag(:link) %>
      <input name="commit" type="submit" value="Search" class="btn btn-andrew"/>
    </div>
  <% end %>

</div>

<script type="text/javascript">
  $(document).ready(function () {

  });
</script>